@model IEnumerable<TodoList.Data.Models.TodoItem>
<style>
    .line-through{
        text-decoration: line-through;
    }
</style>
<h1>TodoList</h1>
<ul>
    <li>Todo List</li>

    @if(Model?.Count()==0){
          <h1>No data found</h1>
    }
    else
    {
        <ul>
            @foreach(var item in Model)
            {
            <li>
                <input checked="@item.IsCompleted" type="checkbox" onclick="window.location.href='/todo/ToggleCompletion?id=@item.Id'" />
                <span class='@((item.IsCompleted)?"line-through":"")'>@item.Description</span>
                <a onclick="return window.confirm('Are you sure to delete this record?')"  asp-controller="todo" asp-action="deletetodo" asp-route-id="@item.Id">X</a>
            </li>
            }
        </ul>
    }
</ul>
@if(TempData["msg"]!=null)
{
    <span>@TempData["msg"]</span>
}
<form asp-action="Index">
    <input type="text" name="Description">
    <button>Add</button>
</form>